/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
}

/*
Sections
========
*/

/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system,
    /* Firefox supports this but not yet `system-ui` */ "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

:root {
  --first-color: #666;
  --second-color: #3ca19d;
  --third-color: #eee;
  --fourth-color: #fff;
  --fifth-color: #c4c4c4;
  --default-font: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--default-font);
  color: var(--first-color);
}

main {
  max-width: 1400px;
}

a {
  text-decoration: none;
  color: var(--first-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  padding: 1.2rem 2rem;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  max-width: 100%;
}

.text-logo {
  font-weight: 400;
  color: #000;
}

.left-navbar,
.menu {
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.menu,
.right-navbar,
.hero .hero-image {
  display: none;
}

.mobile-navbar {
  z-index: 5;
}

.mobile-navbar .menu-icon {
  width: 2rem;
  height: 3px;
  margin: 5px 0;
  background-color: var(--fourth-color);
  transition: all 0.3s ease-in-out;
  border-radius: 40px;
}

.menu-icon.active:first-child {
  transform: rotate(45deg) translate(1px, 10px);
  background-color: var(--fourth-color);
}

.menu-icon.active:nth-child(2) {
  opacity: 0;
}

.menu-icon.active:last-child {
  transform: rotate(-45deg) translate(1px, -10px);
  background-color: var(--fourth-color);
}

.mobile-menu {
  position: fixed;
  width: 14rem;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  transform: translateX(14rem);
  transition: all 0.6s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.mobile-menu a {
  color: var(--fourth-color);
  text-decoration: none;
  font-size: 1.2rem;
}

.mobile-menu.active {
  transform: translateX(0);
}

.hero {
  background-image: url(/assets/images/hero-picture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 50px;
  text-align: center;
  color: var(--fourth-color);
}

.hero-description h1 {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 5rem;
}

.hero-description p {
  padding: 0 20px;
  margin-bottom: 3rem;
}

.location-input {
  max-width: 330px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--fourth-color);
  margin: 0 auto;
  padding: 4px 10px;
  border-radius: 12px;
  margin-bottom: 5rem;
}

.location-input input {
  min-width: 150px;
  border: none;
  outline: none;
  color: var(--first-color);
  font-size: 12px;
}

.location-input button {
  font-size: 12px;
  border: none;
  border-radius: 10px;
  background-color: var(--second-color);
  color: var(--fourth-color);
  padding: 5px 8px;
}

.status {
  display: flex;
  margin: 0 auto;
  max-width: 550px;
  justify-content: center;
  gap: 10px;
}

.status .status-number {
  font-size: 24px;
  margin-bottom: 20px;
}

.status .status-name {
  font-size: 10px;
}

.services-section {
  max-width: 100%;
  margin-bottom: 7rem;
}

.heading-section {
  text-align: center;
  max-width: 450px;
  margin: 0 auto 4rem;
}

.heading-section h2 {
  font-size: 34px;
  font-weight: 400;
  margin: 3rem 0;
}

.heading-section p {
  font-size: 14px;
}

.cards {
  max-width: 900px;
  padding: 0 20px;
  margin: 0 auto;
}

.card {
  display: flex;
  margin: 15px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  max-width: 300px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.3);
}

.card img {
  max-width: 100px;
  margin-bottom: 15px;
}

.card a {
  background-color: #3ca19d;
  padding: 10px 0;
  display: inline-block;
  width: 100%;
  color: var(--fourth-color);
  border-radius: 10px;
  font-weight: 600;
}

.card-description h3 {
  margin-bottom: 15px;
}

.card-description p {
  margin-bottom: 35px;
}

.benefit-section {
  padding: 0 20px;
  margin-bottom: 50px;
}

.benefit-card {
  display: none;
}

.benefit-description {
  padding: 20px;
  line-height: 30px;
  max-width: 350px;
  margin: 0 auto;
}

.how-section {
  padding: 0 20px;
  margin-top: 150px;
}

.how-section .heading-section p {
  max-width: 400px;
  margin: 0 auto;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.step-card {
  max-width: 250px;
  height: 300px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.step-card .step-icon {
  background-color: var(--second-color);
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 20px;
  height: 64px;
  width: 64px;
}

.step-card .step-description h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.logo-section,
.review-section {
  margin-top: 150px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.brand-logo {
  max-width: 150px;
  max-height: 150px;
  filter: contrast(1%);
}

.review-section {
  padding: 0 20px;
}

.review-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.review-container img {
  max-width: 300px;
}

.sign-up-section {
  max-width: 400px;
  background-color: var(--second-color);
  margin: 0 auto;
  margin-top: 150px;
  padding: 25px 20px;
  text-align: center;
  border-radius: 10px;
}

.sign-up-section p {
  font-size: 24px;
  color: var(--third-color);
  margin-bottom: 50px;
}

.sign-up-section a {
  background-color: var(--third-color);
  color: var(--second-color);
  padding: 5px 20px;
  border-radius: 10px;
}

.navbar .right-navbar:hover,
.search-button:hover,
.read-more-button:hover {
  background-color: var(--fourth-color);
  border: 1px solid var(--second-color);
  color: var(--second-color);
}

.navbar .right-navbar:hover a {
  color: var(--second-color);
}

footer {
  margin-top: 150px;
  padding: 0 30px;
}

.footer-top {
  border-bottom: 2px solid var(--fifth-color);
}

.footer-top ul {
  list-style-type: none;
}

.footer-description,
.footer-summary,
.footer-company,
.footer-support,
.footer-sosial {
  margin-bottom: 20px;
}
.footer-description img,
.footer-summary h4,
.footer-company h4,
.footer-support h4,
.footer-sosial h4 {
  margin-bottom: 10px;
}
.footer-description p,
.footer-summary li,
.footer-company li,
.footer-support li {
  margin-bottom: 5px;
}

.footer-sosial i {
  font-size: 24px;
  margin-right: 10px;
}

.footer-bottom {
  padding: 10px;
  text-align: center;
}

.footer-bottom p {
  margin-bottom: 5px;
}

@media screen and (min-width: 720px) {
  main {
    margin-top: 0;
  }

  a {
    text-decoration: none;
    color: #542;
  }

  .hero {
    padding: 200px 50px;
  }

  .hero-description image {
    display: block;
  }

  .navbar {
    min-width: 720px;
  }

  .left-navbar {
    display: flex;
  }

  .mobile-navbar {
    display: none;
  }

  .right-navbar a {
    color: var(--fourth-color);
  }

  .navbar .right-navbar {
    display: flex;
    background-color: var(--second-color);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    padding: 10px 4px;
    border: 1px solid var(--second-color);
    min-width: 150px;
  }

  .left-navbar .menu {
    display: flex;
    font-size: 1.3rem;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .benefit-description {
    min-width: 550px;
  }

  .steps {
    flex-direction: row;
  }

  .sign-up-section {
    max-width: 600px;
    padding: 50px;
  }

  .sign-up-section a {
    padding: 15px 20px;
  }

  .footer-top .footer-description {
    max-width: 500px;
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    padding: 20px 100px;
    transition: all 0.4s ease-in-out;
  }

  main {
    margin: 0 auto;
  }

  .hero {
    background-image: none;
    color: var(--first-color);
    display: flex;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 8rem;
  }

  .hero-description {
    text-align: start;
    padding: 0 200px 0 100px;
    padding-top: 10rem;
  }

  .hero-description h1 {
    text-align: start;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-size: 40px;
  }

  .hero-description h1 span {
    color: var(--second-color);
  }

  .hero-description p {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 3rem;
  }

  .location-input {
    border: 1px solid #eee;
    max-width: 450px;
    align-items: stretch;
    padding: 4px 5px;
    margin: 0;
    margin-bottom: 3rem;
  }

  .location-input img {
    height: 24px;
    margin: 10px 0;
  }

  .location-input input {
    min-width: 300px;
  }

  .location-input button {
    padding: 5px 25px;
    font-weight: 600;
  }

  .status {
    margin: 0;
    justify-content: start;
    gap: 35px;
  }

  .status .status-number {
    font-size: 30px;
  }

  .hero .hero-image {
    flex-basis: content;
    display: block;
    height: 100%;
  }

  .cards {
    max-width: 1400px;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 0 100px;
  }

  .card {
    justify-content: space-between;
  }

  .benefit-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 750px;
    padding: 10px;
    margin: 0 auto;
  }

  .benefit-card {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    background-color: var(--fifth-color);
    overflow: hidden;
    border-radius: 14px;
    position: relative;
    margin: 0 auto;
  }

  .shoe-image {
    object-fit: cover;
    height: 350px;
  }

  .benefit-card .card-info {
    display: flex;
    background-color: rgba(40, 40, 40, 0.75);
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    color: var(--fourth-color);
  }

  .card-info .dollar-sign {
    padding: 10px;
    border: 1px solid #666;
    background-color: #777;
    border-radius: 10px;
    color: var(--fourth-color);
    width: 48px;
  }

  .card-info p {
    font-size: 12px;
  }

  .benefit-description h2 {
    margin-bottom: 15px;
  }

  .steps {
    max-width: 900px;
    margin: 0 auto;
  }

  .sign-up-section {
    max-width: 750px;
    padding: 50px 80px;
  }

  .footer-top {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
  }

  .footer-top ul {
    margin-left: -40px;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
  }
}
